node_modules/
/config/production.json

/courzelo/build

.DS_Store
/courzelo/.env.local
/courzelo/.env.development.local
/courzelo/.env.test.local
/courzelo/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*